/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
  box-sizing: border-box; }

html {
  font-size: 60em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Font*/
body {
  font-family: 'Roboto', sans-serif; }

#fullpage {
  margin: 0 auto;
  padding: 0; }

/*Nav*/
#menu {
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0 auto; }
  #menu .icon {
    margin-right: 10px; }
  #menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5); }
    #menu li.active {
      background: #666;
      background: rgba(0, 0, 0, 0.5);
      color: #fff; }
      #menu li.active a:hover {
        color: #000; }
      #menu li.active a {
        color: #fff; }
    #menu li:hover {
      background: rgba(255, 255, 255, 0.8); }
    #menu li a {
      text-decoration: none;
      color: #000;
      padding: 9px 18px;
      display: block;
      outline: none; }

/*Body / Content*/
.content {
  background: url(../images/stardust.png);
  color: #fff;
  text-align: center; }

.home h1 {
  font-size: 3em; }

.home p {
  line-height: 1em;
  font-size: 30px; }

.home span.code {
  color: #7fe22a; }

.home a {
  text-decoration: none;
  color: white;
  outline: none; }
  .home a span.icon-arrow-down {
    font-size: 145px;
    line-height: 50px; }

.work .slide {
  position: relative; }
  .work .slide .slide-container a {
    color: white;
    text-decoration: underline; }

.work .eDMs {
  background: url(../images/variousEDMS.jpg) no-repeat; }

.work .telstraJobJam {
  background: url(../images/telstraJobJam.jpg) no-repeat; }

.work .dfrStatic {
  background: url(../images/dfrIndigenous.jpg) no-repeat; }

.work .careersReskin {
  background: url(../images/careersBefore&adfter.jpg) no-repeat; }

.work .slide-container {
  background-position: center bottom;
  background-size: 100% 100%;
  max-width: 980px;
  height: 56.6%;
  margin: 0 auto;
  border: solid 5px white; }

.work .slide-content {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
  padding: 5px;
  margin-top: 150px;
  transition: all 0.5s; }
  .work .slide-content h1 {
    font-size: 42px;
    line-height: 39px;
    color: #fff; }

.work .icon-info {
  background: #333;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  z-index: 70;
  padding: 15px 20px 15px 10px; }

/*About Me Accordion*/
.aboutMe {
  margin: 0 auto; }

/*----- Accordion -----*/
.accordion {
  max-width: 870px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: #f7f7f7;
  /*----- Section Titles -----*/
  /*----- Section Content -----*/ }
  .accordion .accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    background: #333;
    transition: all linear 0.15s;
    /* Type */
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
    text-decoration: none;
    outline: none; }
    .accordion .accordion-section-title:hover, .accordion .accordion-section-title:active {
      background: #4c4c4c;
      /* Type */
      text-decoration: none; }
    .accordion .accordion-section-title:last-child {
      border-bottom: none; }
    .accordion .accordion-section-title .code1 {
      color: #2859c6; }
    .accordion .accordion-section-title .code2 {
      color: #98274c; }
    .accordion .accordion-section-title .code3 {
      color: #acdb67; }
  .accordion .accordion-section-content {
    padding: 15px 150px;
    display: none;
    color: #333; }
    .accordion .accordion-section-content li {
      text-decoration: none;
      list-style: none; }

.contact a {
  display: inline-block;
  outline: none; }

.contact span {
  display: inline-block;
  font-size: 45px;
  color: #fff;
  margin: 25px; }

/*Slide*/
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #333; }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #333 transparent transparent; }

/* Media Queries*/
@media only screen and (max-width: 612px) {
  #menu .vanish {
    display: none; }
  #menu .icon {
    margin-right: 0; } }

@media only screen and (max-width: 414px) {
  .work .slide-content {
    width: 195px;
    margin-top: 0; }
  .accordion .accordion-section-content {
    padding: 15px; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
